@media (max-width: 1200px)
    .menu
        .menu_item
            .menu_link
                padding-right: 11px
                font-size: 11px
            .menu_link_last
                padding-right: 11px
                font-size: 11px
    .subheader
        .img_uber
            img
                width: 90%
    .promo
        .promo_header
            font-size: 50px
    .reasons
        .reasons_block
            align-items: flex-start
            .reasons_descr
                width: 300px
    .mobile
        .mobile_item
            width: 301px
            height: 265px
            .mobile_item_subtitle
                width: 250px
                font-size: 19px
    footer
        .stores
            right: 9px
            a
                img
                    width: 71px

@media (max-width: 991px)
    .menu
        padding: 13px 19px
        &_item
            .menu_link
                padding-right: 15px
                font-size: 10px
            .menu_link_last
                padding-right: 8px
                margin-left: 3px
                font-size: 10px
    .subheader
        .subheader_logo_desrp
            font-size: 12px
        .subheader_callback
            .num
                font-size: 17px
        .subheader_btn
            margin-top: 28px
            width: 100%
            height: 38px
            font-size: 13px
        .img_uber
            img
                width: 90%
    .promo
        .promo_header
            font-size: 43px
        .promo_subheader
            font-size: 27px
        .promo_descrp
            font-size: 15px
    .reasons
        .reasons_block
            align-items: center
            .reasons_descr
                width: 435px
    .mobile
        min-height: 735px
        .mobile_item
            width: 225px
            height: 197px
            .mobile_item_subtitle
                width: 167px
                font-size: 14px
            .mobile_item_plus
                bottom: 13px
    .prius
        img
            width: 703px
            height: 453px
    footer
        .stores
            right: 9px
            a
                img
                    width: 45px
                    height: 25px
        .social_icons
            left: 4px

@media (max-width: 767px)
    .menu
        position: fixed
        flex-direction: column
        justify-content: center
        align-items: center
        top: 0
        left: -100%
        width: 50%
        height: 100vh
        padding: 20px 15px
        background-color: rgba(0,0,0, .8)
        transition: 0.5s all
        &_active
            left: 0
        .menu_item
            padding-right: 0
            border: none
            margin: 10px 0
            .menu_link
                font-size: 19px
            .menu_link_last
                font-size: 19px
    .prius
        img
            width: 500px
            height: 324px
    .hamburger
        display: block
        position: absolute
        right: 10px
        top: 50%
        transform: translateY(-50%)
        width: 26px
        height: 12px
        span
            display: block
            height: 2px
            width: 100%
            background-color: white
            margin-bottom: 2.5px
            transition: 0.5s all
    .hamburger_active
        span
            margin-bottom: -2px
            &:nth-child(1)
                transform: translateY(5px) rotate(-45deg)
            &:nth-child(2)
                display: none
            &:nth-child(3)
                transform: translateY(5px)  rotate(45deg)
    .xs-hidden
        display: none
    .xs-visible
        display: block
        margin-top: 8px

    .subheader
        .num
            color: white
            font-size: 16px
            font-weight: 400
            text-transform: uppercase
            text-decoration: none
            text-align: center
        .subheader_btn
            margin-top: 4px
            width: 200px
            height: 40px
            font-size: 14px
        .phone
            display: flex
            justify-content: center
    .reasons
        .reasons_block
            .reasons_descr
                width: 357px
    footer
        min-height: 201px
        .social_icons
            left: 209px
            top: 132px
        .stores
            right: 141px
            top: 170px
            a
                img
                    width: 91px
                    height: 20px

@media (max-width: 575px)
    nav
        height: 30px
    .menu
        .menu_item
            width: 100%
            text-align: center

            .menu_link
                display: block
                font-size: 11px
                border-right: none

            .menu_link_last
                font-size: 11px


    .subheader
        top: 30px
        height: 62px
        .subheader_logo_desrp
            display: none
        .img_uber
            margin-top: 23px
        .num
            font-size: 12px
        .subheader_btn
            margin-top: 0
            width: 120px
            height: 22px
            font-size: 10px

    .xs-visible
        margin-top: 12px

    .promo
        min-height: 400px
        background: url('../img/bg/uber_bg320.png') center center/cover no-repeat
        padding: 114px 0 35px 0
        .promo_descrp
            display: none
        .promo_header
            font-size: 30px
            line-height: 40px
            padding: 0 26px
        .promo_subheader
            font-size: 20px
            line-height: 25px
        .promo_btn
            margin: 70px auto 0 auto
            width: 220px
            height: 50px

    .label
        width: 110px
        height: 22px
    .title
        width: 300px
        font-size: 15px
        margin: 18px auto 0 auto
    .subtitle
        margin-top: 9px
        font-size: 14px
    .reasons
        .title
            margin-top: 33px
        .reasons_block
            flex-direction: column
            .reasons_round
                margin: 0 auto 24px auto
            .reasons_descr
                width: 292px
    .mobile
        padding-bottom: 43px
        .mobile_item
            width: 293px
            height: 254px
            .mobile_item_subtitle
                width: 226px
                font-size: 18px
                line-height: 2
    .prius
        background: black
        padding: 27px 0 31px 0
        min-height: 393px
        .subtitle
            display: none
        .title
            display: none
        img
            margin-top: 36px
            width: 300px
            height: 190px
        .under_prius_text
            margin: 23px 0 31px 0
            width: 290px
            color: white
    .condition
        padding: 24px 0 30px 0
        .title
            margin-bottom: 30px
        .condition_title
            font-size: 16px
            margin-top: 0px
            margin-bottom: 5px
        .condition_block
            margin-bottom: 30px
            .condition_list
                padding-left: 32px
                li
                    font-size: 14px
                li::before
                    left: -24px
            .condition_descrp
                font-size: 14px
    .world
        padding: 26px 0 29px 0
        min-height: 360px
        .title
            width: 319px
        .world_cities
            margin-top: 219px


    footer
        min-height: 255px
        padding: 24px 0 30px 0
        .line
            width: 255px
            height: 5px

        .social_icons
            left: 106px
            top: 140px
        .links_redirection
            margin: 20px auto
            width: 289px
            .links_redirection_main_item
                a
                    font-size: 14px
            .links_redirection_sub_item
                a
                    font-size: 9px
        .stores
            right: 47px
            top: 190px
            a
                img
                    height: 30px
